@use 'fonts';

.header{
    background-color:yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

img{
    width:200px;
    height:100px;
    margin-left:50px;
}




button{
    width:200px;
    margin-left:50px; /*To make it aligned with the picture when wrapping */

    /*/*Not setting a height property to the button, will it shrink when the flexbox wraps.*/
    height:100px; /*Setting it to 100% makes it small even though the header height is displayed as 100px. The header is 100px tall because it contains the image which is 100px tall but the header itself has no explicitely set height value, maybe that's why setting the button to 100% doesn't make it 100px */

    background-color:purple;
    border:none;

    font-size:50px;
    cursor:pointer;
    

}

button:hover, a:hover{
    background-color: #4CAF50;
    color: white;

}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

a{
    display:flex;
    background-color:purple;
    width:100vw; /*You need to set display:block or flex. otherwise width:100vw won't work */
    height:100px;
    font-size:30px;
    align-items:center;
    @include fonts.oswald;
    padding-left:50px;
    color:black;
    text-decoration:none;
    cursor:pointer;
}

.toggle{
    display:none;
}